<div class="rev-slider-full">
   <div class="rev-slider-banner-full  rev-slider-full">
      <ul>
         <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
            <img src="/assets/rev-images/slider1/bg1.jpg"  alt="rev-full1" data-fullwidthcentering="on">
            <div class="tp-caption lft stb stl"
               data-x="650"
               data-y="93"
               data-speed="500"
               data-start="500"
               data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><img src="/assets/rev-images/slider1/imac.png" alt="Image 1"></div>
            <div class="tp-caption lfb stb stl"
               data-x="616"
               data-y="194"
               data-speed="500"
               data-start="700"
               data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><img src="/assets/rev-images/slider1/ipad.png" alt="Image 1"></div>
            <div class="tp-caption lfr stb stl"
               data-x="751"
               data-y="290"
               data-speed="1000"
               data-start="1000"
               data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><img src="/assets/rev-images/slider1/iphone.png" alt="Image 1"></div>
            <div class="tp-caption slider-text-title sft str"
               data-x="20"
               data-y="150"
               data-speed="300"
               data-start="800"
               data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Welcome to Stellar Rays</div>
            <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
               StellarRays, a combination of the words Stellar and Rays,<br>
                is conceptualised with the philosopy of mobilising people <br>
                in the upward direction in their professional and personal <br>
                life by guiding them in the HR space.
            </div>
            <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="300" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
               <a href="#" class="button btn-flat">More Info</a>
            </div>
         </li>
         <li  data-transition="slideleft" data-slotamount="14">
            <img src="/assets/rev-images/slider1/bg1.jpg" alt="Rev Full">
            <div class="caption sfb" data-x="693" data-y="75" data-speed="700" data-start="0"
               data-easing="easeOutBack">
               <img src="/assets/rev-images/slider1/mobile.png" alt=""/>
            </div>
            <div class="tp-caption slider-text-title sft str"
               data-x="20"
               data-y="150"
               data-speed="300"
               data-start="800"
               data-easing="easeOutCubic" data-end="6000" data-endspeed="500">What We Do</div>
            <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
               StellarRays Talent Hiring Service Line is positioned as a generalist offering,<br>
                specialising in cross-border middle to senior level recruitment for <br>
                domestic and international corporations.
            </div>
            <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
               <a href="#" class="button btn-flat">More Info</a>
            </div>
         </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
   </div>
</div>
</div><!--.top wrapper end -->
<div class="loading-container">
   <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
   </div>
</div>
<div class="content-wrapper hide-until-loading">
   <div class="section-content top-body">
      <div class="container">
         <div class="row">
            <div class="col-md-4 col-sm-4">
               <div class="content-box content-style4 medium animated"
                  data-animtype="fadeIn"
                  data-animrepeat="0"
                  data-animspeed="1s"
                  data-animdelay="0.2s"
                  >
                  <h4 class="h4-body-title">
                     <i class="icon-settings-streamline"></i>
                     What We Do?
                  </h4>
                  <div class="content-box-text">
                     StellarRays offers staffing solutions that tailors services to meet unique HR needs, across all Industries and levels.
                     <div>
                        <a href="/home/services" class=" btn btn-sm">
                        <span>read more</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-sm-4">
               <div class="content-box content-style4 medium animated"
                  data-animtype="fadeIn"
                  data-animrepeat="0"
                  data-animspeed="1s"
                  data-animdelay="0.2s"
                  >
                  <h4 class="h4-body-title">
                     <i class="icon-camera-streamline-video"></i>
                     Who We Are?
                  </h4>
                  <div class="content-box-text">
                     StellarRays operates in the human resource service space.We partner with corporate clients in the areas of Recruitment, Temporary Staffing.
                     <div>
                        <a href="/home/aboutus" class=" btn btn-sm">
                        <span>read more</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-sm-4">
               <div class="content-box content-style4 medium animated"
                  data-animtype="fadeIn"
                  data-animrepeat="0"
                  data-animspeed="1s"
                  data-animdelay="0.2s"
                  >
                  <h4 class="h4-body-title">
                     <i class="icon-computer-imac"></i>
                     Our Clients
                  </h4>
                  <div class="content-box-text">
                     Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                     ligula. Nunc commodo lacinia eros ac condimentum
                     <div>
                        <a href="/home/clients" class=" btn btn-sm">
                        <span>read more</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
      <div class="space-sep40"></div>
      <div class="section-content section-tabs section-px stones-bg white-text">
         <div class="tab-container">
            <div class="section-tab-arrow"></div>
            <div class="section-etabs-container">
               <ul class="section-etabs">
                  <li class="tab">
                     <a href="#tabc1"> Our News</a>
                  </li>
                  <li class="tab active">
                     <a href="#tabc2"> Clients</a>
                  </li>
               </ul>
            </div>
            <div class="container">
               <div class="tab-content">
                  <div id="tabc1">
                     <div class="row">
                        <div class="col-md-3 col-sm-3">
                           <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
                              <div class="feature-image img-overlay">
                                 <img src="/assets/blog1.jpg" alt="Blog">
                                 <div class="item-img-overlay">
                                    <a class="portfolio-zoom fa fa-plus" href="/assets/blog1.jpg"
                                       data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                                 </div>
                              </div>
                              <div class="feature-content">
                                 <h3 class="h3-body-title blog-title">
                                    <a href="#">Vix sumo ferri an</a>
                                 </h3>
                                 <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                 </p>
                              </div>
                              <!-- <div class="feature-details"> -->
                                 <!-- <i class="icon-calendar"></i> -->
                                 <!-- <span>July 10, 2013</span> -->
                                 <!-- <span class="details-seperator"></span> -->
                                 <!-- <a href="#"><i class="icon-comment"></i><span>4</span></a> -->
                                 <!-- <div class="feature-share">
                                    <a href="#"><i class="icon-heart"></i></a>
                                    <a href="#"><i class="icon-facebook"></i></a>
                                 </div> -->
                              <!-- </div> -->
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                           <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.6s">
                              <div class="feature-image img-overlay">
                                 <img src="/assets/blog2.jpg" alt="Blog">
                                 <div class="item-img-overlay">
                                    <a class="portfolio-zoom fa fa-plus" href="/assets/blog2.jpg"
                                       data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                                 </div>
                              </div>
                              <div class="feature-content">
                                 <h3 class="h3-body-title blog-title">
                                    <a href="#">Donec vitae sapien</a>
                                 </h3>
                                 <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                 </p>
                              </div>
<!--                               <div class="feature-details">
                                 <i class="icon-calendar"></i>
                                 <span>July 10, 2013</span>
                                 <span class="details-seperator"></span>
                                 <a href="#"><i class="icon-comment"></i><span>4</span></a>
                                 <div class="feature-share">
                                    <a href="#"><i class="icon-heart"></i></a>
                                    <a href="#"><i class="icon-facebook"></i></a>
                                 </div>
                              </div> -->
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                           <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.8s">
                              <div class="feature-image img-overlay">
                                 <img src="/assets/blog3.jpg" alt="Blog">
                                 <div class="item-img-overlay">
                                    <a class="portfolio-zoom fa fa-plus" href="/assets/blog3.jpg"
                                       data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                                 </div>
                              </div>
                              <div class="feature-content">
                                 <h3 class="h3-body-title blog-title">
                                    <a href="#">Aenean tellus metus</a>
                                 </h3>
                                 <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                 </p>
                              </div>
  <!--                             <div class="feature-details">
                                 <i class="icon-calendar"></i>
                                 <span>July 10, 2013</span>
                                 <span class="details-seperator"></span>
                                 <a href="#"><i class="icon-comment"></i><span>4</span></a>
                                 <div class="feature-share">
                                    <a href="#"><i class="icon-heart"></i></a>
                                    <a href="#"><i class="icon-facebook"></i></a>
                                 </div>
                              </div> -->
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                           <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="1s">
                              <div class="feature-image img-overlay">
                                 <img src="/assets/blog4.jpg" alt="Blog">
                                 <div class="item-img-overlay">
                                    <a class="portfolio-zoom fa fa-plus" href="/assets/blog4.jpg"
                                       data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                                 </div>
                              </div>
                              <div class="feature-content">
                                 <h3 class="h3-body-title blog-title">
                                    <a href="#">Aenean tellus metus</a>
                                 </h3>
                                 <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                 </p>
                              </div>
<!--                               <div class="feature-details">
                                 <i class="icon-calendar"></i>
                                 <span>July 10, 2013</span>
                                 <span class="details-seperator"></span>
                                 <a href="#"><i class="icon-comment"></i><span>4</span></a>
                                 <div class="feature-share">
                                    <a href="#"><i class="icon-heart"></i></a>
                                    <a href="#"><i class="icon-facebook"></i></a>
                                 </div>
                              </div> -->
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="tabc2">
                     <div class="row">
                        <div class="col-md-12 col-sm-12">
                           <h2 class="h2-section-title animated" data-animtype="flipInX" data-animrepeat="0" data-animspeed="1s" data-animdelay="0s">Our Clients </h2>
                           <h3 class="h3-section-info animated" data-animtype="flipInX" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.2s">Few Of Our Satisfying Clients.
                           </h3>
                           <ul class="section-clients">
                              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><img src="/assets/clients/mc.jpg" alt="Logo" class="img-responsive client-image" /></li>
                              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><img src="/assets/clients/raymond.png" alt="Logo" class="img-responsive client-image" /></li>
                              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s"><img src="/assets/clients/jpmorgan.jpeg" alt="Logo" class="img-responsive client-image" /></li>
                              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s"><img src="/assets/clients/idea.png" alt="Logo" class="img-responsive client-image" /></li>
                              <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s"><img src="/assets/clients/icfai.png" alt="Logo" class="img-responsive client-image" /></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
      <div class="space-sep40"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
               data-animrepeat="0"
               data-speed="1s"
               data-delay="0.4s">
               <h2 class="h2-section-title">What We Offer</h2>
               <div class="i-section-title">
                  <i class="icon-drive">
                  </i>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6 col-sm-6 right-text">
               <ul class="icon-content-list-container">
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Responsive </strong> Design            
                           <i class="icon-ipad"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Very </strong> Flexible            
                           <i class="icon-settings"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Unlimited </strong> Skins            
                           <i class="icon-painting-roll-streamline"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Well </strong> Documented            
                           <i class="icon-file-settings"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="col-md-6 col-sm-6">
               <ul class="icon-content-list-container">
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Retina </strong> Ready            
                           <i class="icon-eye"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Multi </strong> Purpose            
                           <i class="icon-world"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Animation </strong> Ready            
                           <i class="fa fa-film"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
                  <li class="icon-content-single">
                     <div class="content-box  style5  animated "
                        data-animtype="fadeIn"
                        data-animrepeat="0"
                        data-animspeed="1s"
                        data-animdelay="0.2s"
                        >
                        <h4 class="h4-body-title">
                           <strong>Latest </strong> Technology            
                           <i class="icon-lab"></i>
                        </h4>
                        <div class="content-box-text">
                           <p> 
                              Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                              ligula. Nunc commodo lacinia eros ac condimentum
                           </p>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="testimonial-big">
      <div class="container">
         <div class="row">
            <div class="col-md-10 col-sm-10">
               <div class="testimonial-big-text animated" data-animtype="fadeInRight"
                  data-animrepeat="1"
                  data-speed="1s"
                  data-delay="0s">
                  Success Happens when reality catches up to your imagination.
               </div>
            </div>
            <div class="col-md-2 col-sm-2">
               <div class="testimonial-big-img animated" data-animtype="fadeInLeft"
                  data-animrepeat="1"
                  data-speed="1s"
                  data-delay="0s">
                  <!-- <img src="/assets/testimonial-big.png" alt=""/> -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--.content-wrapper end -->
