<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
   <!--[if IE 7]>
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
      <!--[if IE 8]>
      <html class="no-js lt-ie9">
         <![endif]-->
         <!--[if gt IE 8]><!-->
         <html class="no-js">
            <!--<![endif]-->
            <head>
               <meta charset="utf-8">
               <!--[if IE]>
               <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
               <![endif]-->
               <title>Stellarrays Consulting Pvt. Ltd</title>
               <!--[if lt IE 9]>
               <script type="text/javascript" src="/assets/ie-fixes.js"></script>
               <link rel="stylesheet" href="/assets/ie-fixes.css">
               <![endif]-->
               <meta name="description" content="Stellar Rays Cosulting Pvt. Ltd">
               <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <!--- This should placed first off all other scripts -->
               <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
               <!-- Fonts -->
               <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
               <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>
               <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">s
               <!--[if lt IE 9]>
               <script type="text/javascript" src="/assets/respond.js"></script>
               <![endif]-->
               <%= stylesheet_link_tag    "application", :media => "all" %>
               <%= javascript_include_tag "application" %>
               <%= csrf_meta_tag %>
            </head>



            <div id="wrapper"  >
            <div class="top_wrapper">
               <div class="top-bar">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-7">
                           <div class="call-us top-bar-block">
                              <i class="icon-phone"></i>
                              <span>
                              Reach us at 0091-9999999999
                              </span>
                           </div>
                           <div class="mail-us top-bar-block">
                              <i class="icon-email"></i>                            
                              <span>
                              E-mail: info@stellarrays.com
                              </span>                            
                           </div>
                        </div>

                        <div class="col-sm-5">
                           <div class="social-icons">
                              <ul>
                                 <li>
                                    <a href="https://www.facebook.com/pages/StellarRays-Consulting-Pvt-Ltd/113654925397103" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
                                 </li>
                                 <li>
                                    <a href="http://www.twitter.com" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                                 </li>
                                 <li>
                                    <a href="http://www.googleplus.com" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Header -->
               <header id="header">
                  <div class="container">
                     <div class="row header">
                        <!-- Logo -->
                        <div class="col-xs-2 logo">
                           <a href="/home/index">
                           <img src="/assets/stellar.jpg" style="width:250px;height:90px;" alt="Stellarrays Consulting Pvt. Ltd."/> 
                           <!-- <p>Stellarrays Consulting Pvt. Ltd. -->
                           </a>
                        </div>
                        <!-- //Logo// -->
                        <!-- Navigation File -->
                        <div class="col-md-10">
                           <!-- Mobile Button Menu -->
                           <div class="mobile-menu-button">
                              <i class="fa fa-list-ul"></i>
                           </div>
                           <!-- //Mobile Button Menu// -->
                           <nav>
                              <ul class="navigation">
                                 <li>
                                    <a href="/home/index">
                                    <span class="label-nav">
                                    Home
                                    </span>
                                    <span class="label-nav-sub" data-hover="Home">
                                    Home
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="/home/services">
                                    <span class="label-nav">
                                    Services
                                    </span>
                                    <span class="label-nav-sub" data-hover="What we do?">
                                    What we do?
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="/home/clients">
                                    <span class="label-nav">
                                    Clients
                                    </span>
                                    <span class="label-nav-sub" data-hover="Our Clients">
                                    Our CLients
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="/home/events">
                                    <span class="label-nav">
                                    Events
                                    </span>
                                    <span class="label-nav-sub" data-hover="Events">
                                    Events
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="/home/aboutus">
                                    <span class="label-nav">
                                    About Us
                                    </span>
                                    <span class="label-nav-sub" data-hover="who we are?">
                                    Who we are?
                                    </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="/home/contactus">
                                    <span class="label-nav">
                                    Contact Us
                                    </span>
                                    <span class="label-nav-sub" data-hover="Reach Us">
                                    Reach Us
                                    </span>
                                    </a>
                                 </li>
                              </ul>
                           </nav>
                           <!-- Mobile Nav. Container -->
                           <ul class="mobile-nav">
                              
                           </ul>
                           <!-- //Mobile Nav. Container// -->
                        </div>
                        <!-- Nav -->
                     </div>
                  </div>
               </header>
               <!-- //Header// -->



               <body>
                  <%= yield %>
               </body>




               <footer>
                  <div class="footer">
                     <div class="container">
                        <div class="footer-wrapper">
                           <div class="row">
                              <!-- Footer Col. -->
                              <div class="col-md-3 col-sm-3 footer-col">
                                 <h4 class="footer-title" align="center">Find Us On</h4>
                                 <div class="footer-content" align="center">
                                    <ul class="footer-category-list">
                                       <li>
                                          <a href="https://www.facebook.com/pages/StellarRays-Consulting-Pvt-Ltd/113654925397103">Facebook</a>
                                       </li>
                                       <li>
                                          <a href="#">Twitter</a>
                                       </li>
                                       <li>
                                          <a href="#">Google Plus</a>
                                       </li>
                                       <li>
                                          <a href="#">LinkedIn</a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <!-- //Footer Col.// -->
                              <!-- Footer Col. -->
                              <div class="col-md-3 col-sm-3 footer-col">
                                 <h4 class="footer-title" align="center">Know More</h4>
                                 <div class="footer-content" align="center">
                                    <ul class="footer-category-list">
                                       <li>
                                          <a href="/home/services">Services</a>
                                       </li>
                                       <li>
                                          <a href="/home/clients">Clients</a>
                                       </li>
                                       <li>
                                          <a href="/home/aboutus">About Us</a>
                                       </li>
                                       <li>
                                          <a href="/home/contactus">Contact Us</a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <!-- //Footer Col.// -->
                              <!-- Footer Col. -->
                              <div class="col-md-3 col-sm-3 footer-col">
                                 <h4 class="footer-title" align="center">
                                    Privacy Policy
                                 </h4>
                                 <div class="footer-content" align="center">
                                    <ul class="footer-category-list">
                                       <li>
                                          <a href="#">Privacy Policy</a>
                                       </li>
                                       <li>
                                          <a href="#">Privacy Policy</a>
                                       </li>
                                       <li>
                                          <a href="#">Terms & Conditions</a>
                                       </li>
                                       <li>
                                          <a href="#"></a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <!-- //Footer Col.// -->
                              <!-- Footer Col. -->
                              <div class="col-md-3 col-sm-3 footer-col">
                                <h4 class="footer-title" align="center">Contact Us</h4>
                                <div class="footer-content" align="center">
                                    <ul class="footer-category-list">
                                       <li>
                                          <a href="/home/contactus">Bangaluru</a>
                                       </li>
                                       <li>
                                          <a href="/home/contactus">Hyderabad</a>
                                       </li>
                                       <li>
                                          <a href="/home/contactus">New Delhi</a>
                                       </li>
                                       <li>
                                          <a href="/home/contactus">Mumbai</a>
                                       </li>
                                    </ul>
                                 </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="copyright">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12 col-sm-12 center-text">
                                 <div class="copyright-text">&copy; 2011 Stellarrays Consulting Pvt. Ltd. All Rights Reserved</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </footer>
            </div>
            <!-- wrapper end -->
         </html>
